/* RESET BÁSICO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CORPO */
body {
  background: #f2f4f7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  padding: 12px;
}

/* TÍTULOS */
h3, h4{
  margin: 12px 0 8px;
  color: #ffffff;
}

/* INPUTS */
input, select, textarea{
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #cfd6e0;
  text-transform: uppercase;
  font-size: 16px;
}

label {
  border: 0px;
  color: #ffffff;
}

/* AQUI É PROS INPUTS QUE PERGUNTAM AS QUANTIDADES, PRA FICAR MENOR E NAO DE CANTO A CANTO */
.inputNumero {
  width: 20%;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #cfd6e0;
  font-size: 16px;
}


/* TEXTAREA */
textarea {
  min-height: 90px;
  resize: vertical;
}

/* BOTÃO */
button {
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: #700000;
  color: white;
  cursor: pointer;
}

/* CONTAINER PRINCIPAL */
.container {
  max-width: 900px;
  margin: auto;
  background: #130000c4;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.952);
}

/* divisores de seções */
.section {
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 12px;
  background: #444444;
  border-left: 5px solid #4e4e4e;
}

.section h3 {
  margin-bottom: 10px;
  font-size: 17px;
}

.botao-fixo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* BOTÃO REDONDO */
.botao-fixo button {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #700000;
  color: #444444;
  font-size: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* EFEITO DE TOQUE */
.botao-fixo button:active {
  transform: scale(0.95);
}


.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.radio-group label {
  font-size: 16px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

header h2 {
  color: #000000;
  font-size: 40px;
}

header h3 {
  color: #000000;
  font-size: 20px;
}


/* RODAPÉ INSTITUCIONAL */
.rodape {
  margin-top: 40px;
  padding: 20px 10px;
  background: #444444; /* tom semelhante ao da imagem */
  text-align: center;
}

/* LOGOS */
.rodape-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.rodape-logos img {
  height: 55px;
  width: 80px;
  object-fit: contain;
}


/* TEXTO */
.rodape-texto {
  font-size: 13px;
  color: #ffffff;
  opacity: 0.9;
}


